

body{
    margin-left: 0px;
    background-color: rgb(119, 121, 116);
}

.refs{
    margin: 2%;
    display: flex;
    justify-content: space-around;

    font-size: clamp(2vh, 2vw, 4vh);

    >div{
        >a{
            color: rgb(12, 12, 12);
            text-decoration: none;
        }
    }
}

#intro{
    width: 100%;
    padding: 1%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(146, 151, 135);

    >img{
        max-width: 50vh;
        width: 50%;
        border-radius: 50%;
        border: 5px rgb(61, 61, 61) groove;
    }


    text-align: left;
    font-size: clamp(2vh, 2vw, 10vh);
}

#Apresentacao{
    padding: 5%;

    span{
        font-size: clamp(5vh, 3vw, 10vh);
    }

    p{
        font-size: clamp(2vh, 2vw, 4vh);
    }
}

#Trabalhos{
    padding: 2vh;
    background-color: rgb(167, 167, 144);
    font-size: clamp(2vh, 2vw, 4vh);
}

#redes{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;

    div{
        a{
            color: black;
            
            >img{
                width: 5vh;
            }

        }
    }

}

footer{
    background-color: rgb(92, 92, 92);
    margin: 0%;
    padding: 1vh;
}